<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read-di</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="#" class="navbar-brand ms-4"><img src="/image/logo.png" class="" alt="logo" style="width: 100px;"></a>
      <form action="" class="d-flex" style="position: relative;">
        <input type="text" class="form-control rounded-pill" placeholder="Search" style="width: 300px;">
        <button type="submit" class="btn btn-success rounded-pill btn-sm"
          style="position: absolute; right: 3px; top: 3px;"><i class="fa-solid fa-magnifying-glass"
            style="color: #000000;"></i></button>
      </form>
      <div class="d-flex align-items-center">
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a href="#" class="nav-link ms-3">Product</a>
        <a href="#" class="nav-link ms-3 me-4">Contact</a>
        <div class="dropdown" popper="static">
          <a class="d-flex align-items-center btn" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
              alt="Black and White Portrait of a Man" loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="/admin">Admin</a>
            </li>
            <li>
              <hr class="dropdown-divider">
              </hr>
            </li>
            <li>
              <a class="dropdown-item" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!--Head-->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/image/book.jpg" class="d-block w-100" alt="..." style="height: 600px;">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mb-0 fw-bold fs-1">Lorem ipsum dolor sit amet.</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores similique veniam minima
            aliquid labore tenetur tempora! Exercitationem, saepe!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/image/reading.jpg" class="d-block w-100" alt="..." style="height: 600px;">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mb-0 fw-bold fs-1">Lorem ipsum dolor sit amet.</h5>
          <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur voluptate doloribus ipsum
            nostrum error quisquam.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/image/delivery.jpg" class="d-block w-100" alt="..." style="height: 600px;">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mb-0 fw-bold fs-1">Lorem ipsum dolor sit amet.</h5>
          <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, perspiciatis?</p>
        </div>
      </div>
    </div>
  </div>
  <!--Head title-->
  <div class="container-fluid bg-light" style="height: 600px;">
    <div class="row p-5">
      <div class="col-6">
        <div class="d-flex flex-column justify-content-between ms-5" style="height: 450px;">
          <p class="fw-bold text-uppercase font-monospace" style="color: #5f4ecb;">new release</p>
          <h1 class="fw-bold text-uppercase" style="font-size: 5rem; font-family: 'Playfair Display', serif;">the sons
            <br> the empire
          </h1>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officia ducimus porro vero vitae
              asperiores quaerat quidem natus sequi similique, impedit laborum sit alias nam.</p>
            <a href="#" class="btn btn-success" style="width: 100px;">Buy now</a>
          </div>

        </div>
      </div>
      <div class="col-6 text-right">
        <div class="d-flex justify-content-center">
          <img src="/image/top_book.jpg" alt="release_book" class="shadow-lg bg-body-tertiary rounded">
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex flex-column align-items-center" style="margin-top: 100px;">
    <h1>Best Selling Books</h1>
    <p class="text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugit debitis alias ut
      <br>quidem quis libero qui hic ullam quibusdam!
    </p>
  </div>


  <div class="container" style="width: 1300px;">


    <div class="d-flex flex-wrap">
      <%if(locals.doc){%>
        <%doc.forEach(data=>{%>
          <div class="card ms-4 mt-4 item-card" style="width: 18rem;">
            <img src="/uploads/<%=data.image%>" alt="<%=data.name%>" class="card-img-top" style="height: 400px;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">
                  <%=data.name%>
                </h5>
                <p class="text-secondary" style="font-size: 13px;">
                  <%=data.category%>
                </p>
              </div>
              <p class="price">฿ <%=data.price%>
              </p>
            </div>
          </div>
          <%})%>
            <%}else{%>
              <h1 class="text-center">We don't have product in our stock now</h1>
              <%}%>
    </div>



  </div>


  <!--footer-->
  <footer class="bg-light text-center mt-5">
    <!--grid container-->
    <section>
      <form action="">
        <!--grid row-->
        <div class="row d-flex justify-content-center align-itmes-center" style="height: 80px;">
          <div class="col-auto d-flex align-items-center">
            <p class="pt-2 fs-6" style="color: #565a61;">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <div class="col-md-5 col-12 d-flex align-items-center">
            <div class="form-outline w-100">
              <input type="email" class="form-control" placeholder="Email address" />

            </div>
          </div>

          <div class="col-auto d-flex align-items-center">
            <button type="submit" class="btn btn-primary mb4 fw-bold">Subscribe</button>
          </div>
        </div>
      </form>

      <div class="text-center p-3 d-flex align-items-center justify-content-center fs-5"
        style="background-color: rgba(0, 0, 0, 0.2); height: 70px;">
        <strong><i class="fa-regular fa-copyright"></i>2023 Copyright : </strong>readdi.com
      </div>
    </section>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4b826e6716.js" crossorigin="anonymous"></script>


</body>

</html>